<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
{%load static%}
<body background="{% static 'data/dark-bg.jpg' %}">
<div style="margin-left:35%;margin-top:200px; color: aliceblue;">
<h1>Welcome to LSGD Portal </h1>
<div style = "margin-left: 6%;">
<label for="link">Search Based on Eligibility Index </label><br><br>
<a href="/data" name="link" style="margin-left:8%;text-decoration: none; background-color: aliceblue; padding: 10px 20px;color: black;">Click</a>
   </div>
    </div>
</body>
</html>